header {
	text-align:center;
}
header, section, aside, nav,  footer{
	border:solid 1px;
}
section, aside, nav, footer{
	padding: 0;
	margin-top:10px;
}
header h1 {
	font-size:20px;
	padding: 0;
}
ul {
	padding:0;
	margin:0px;
	list-style-type:none;
}
#asidebar {
	width:20%;
	float:left;
}
#wraper {
	height:100%;
	width:80%;
	float:left;
}
#sec {
	margin-left:10px;
}
nav li {
	display:inline;
	margin:80px;
	background-color:yellow;
}
nav {
	background-color:#569332;
}
nav a{
	color:blue;
}
footer {
	width:100%;
	height:50px;
	bottom:20px;
	position:absolute;
	text-align:center;
	float:left;
	font-weight:bold;
	background-color:#699723;
}
header {
	background-color:#365000;
	color:white;
}
aside ul li {
	margin-top:10px;
}